/* Main Colors*/
$main-black-color: #131313;
$main-white-color:#FCFCFC;

/* Products Colors*/
$milkshakes-color:#D6936D;
$ice-coffee-color: #EFD478;
$ice-cream-color:#AEC6A5;

/*Contacts Colors*/
$address-color: #D6936D;
$working-time-color:#907E82;
$line-color: #E1E1E1;

/*Background and Accent Colors*/
$olive-color: #84A178;
$yello-color: #F8D24E;

/*Modals*/
$calories-stroke-color: #9CBE8F;
$input-stroke-color: #84A178;

/*Buttons*/
$btn-default-color: #F8D24E;
$btn-hover-focus-color: #0A8817;
$btn-disabled-color: #ABABAB;

/*Footer Colors*/
$all-rights-reserved-color: #7A7A7A;

/*Fonts*/

$montserrat: 'Montserrat',
sans-serif;
$Seymour:'Seymour One',
sans-serif;
$inter: 'Inter',
sans-serif;
$roboto: 'Roboto',
sans-serif;