<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal__franchise">
    <button class="modal-franchise__button" data-modal-franchise-close>
      <svg class="modal-franchise-button__icon" width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="modal-franchise__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="modal-franchise__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="modal-franchise__form">

      <label class="modal-franchise__desc">
        <input class="modal-franchise__input" type="text" required pattern="[a-zA-Zа-яА-Я]+" minlength="2"
          placeholder="Name" />
      </label>

      <label class="modal-franchise__desc">
        <input class="modal-franchise__input" type="tel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx" placeholder="Phone" />
      </label>


      <label class="modal-franchise__desc">
        <input class="modal-franchise__input" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          placeholder="Email" />
      </label>

      <label class="modal-franchise__desc-message">
        <textarea name="user_coments" class="modal-franchise__message" placeholder="Comment"></textarea>
      </label>
      <button type="submit" class="modal-franchise__btn">Submit</button>
    </form>
  </div>
</div>