<div class="backdrop is-hidden" data-hero-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-hero-modal-close>
      <svg class="modal__close-icon" width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="modal__form-title">Buy now</p>
    <ul class="modal__choice">
      <li class="modal__item">
        <label class="check check-cream">
          <input class="checkbox" type="checkbox" name="product" value="ice cream">
          <span class="text text-cream">ice cream</span>
          <span class="gradient gradient-cream"></span>
          <span class="img img-cream"></span>
        </label>
      </li>
      <li class="modal__item">
        <label class="check check-coffe">
          <input class="checkbox" type="checkbox" name="product" value="ice coffe" checked>
          <span class="text text-coffe">ice coffee</span>
          <span class="gradient gradient-coffe"></span>
          <span class="img img-coffe"></span>
        </label>
      </li>
      <li class="modal__item">
        <label class="check check-milk">
          <input class="checkbox" type="checkbox" name="product" value="milkshake">
          <span class="text text-milk">milkshake</span>
          <span class="gradient gradient-milk"></span>
          <span class="img img-milk"></span>
        </label>
      </li>
    </ul>
    <form class="modal__form">
      <div class="modal__input-field">
        <label class="modal__form-field"><input type="text" class="modal__form-input" required pattern="[a-zA]+"
            name="user-name" placeholder="Name">
          <label class="modal__form-field"><input type="tel" class="modal__form-input" required
              pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" name="user-phone" placeholder="Phone">
          </label>
          <label class="modal__form-field">
            <textarea name="user-message" class="modal__form-message" placeholder="Comment"></textarea>
          </label>
      </div>
      <button type="submit" class="modal__form-submit">Submit</button>
    </form>
  </div>
</div>