<div class="backdrop is-hidden" data-modal-location>
  <div class="modal__location">
    <button class="modal-location__button" data-modal-location-open>
      <svg class="modal-location-button__icon" width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="modal-location__text">Our Locations</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d588199.1243167166!2d34.90240191614503!3d49.37643100184151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1662140897497!5m2!1suk!2sua"
      width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <a target="_blank"
      href="https://www.google.com/maps/place/%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.376431,34.9024019,9.18z/data=!4m5!3m4!1s0x40d825e425e6ba6b:0xcf3e6bdfb9e4ca82!8m2!3d49.588267!4d34.5514169"
      class="open-map-link">Open map</a>
  </div>
</div>