<div class="backdrop is-hidden" data-modal-products>
  <div class="modal__products">
    <button class="modal-products__button" data-modal-products-close>
      <svg class="modal-products-button__icon" width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="modal-products__title">Chololate icecream</p>
    <div class="modal-products__img-wrap">
      <img src="#" alt="Icecream" class="modal-products__img" />
    </div>
    <ul class="modal-products__components-list components-list">
      <li class="components-list__item">
        <span class="components-list__circle">320</span>kcal
      </li>
      <li class="components-list__item">
        <span class="components-list__circle">4g</span>Protein...
      </li>
      <li class="components-list__item">
        <span class="components-list__circle">8,2g </span>Fats
      </li>
      <li class="components-list__item">
        <span class="components-list__circle">40,4g </span>Carbs
      </li>
    </ul>
    <p class="modal-products__subtitle">Ingredients</p>
    <ul class="modal-products__ingredients-list ingredients-list">
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Milk</span
        ><span class="ingredients-list__ingredient-count">100ml</span>
      </li>
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Belgian chocolate</span
        ><span class="ingredients-list__ingredient-count">20g</span>
      </li>
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Cream</span
        ><span class="ingredients-list__ingredient-count">150 ml</span>
      </li>
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Cocoa powder</span
        ><span class="ingredients-list__ingredient-count">30g</span>
      </li>
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Sugar</span
        ><span class="ingredients-list__ingredient-count">40g</span>
      </li>
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient-name">Vanilla sugar</span
        ><span class="ingredients-list__ingredient-count">10g</span>
      </li>
    </ul>
    <form class="modal-products__form">
      <input
        id="user_name_product"
        class="modal-products__input"
        type="text"
        required
        pattern="[a-zA-Zа-яА-Я]+"
        minlength="2"
      />
      <label for="user_name_product" class="modal-products__description"
        >Name</label
      >
      <input
        id="user_phone_product"
        class="modal-products__input"
        type="tel"
        required
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="xxx-xxx-xx-xx"
      />
      <label for="user_phone_product" class="modal-products__description"
        >Phone</label
      >
      <label class="modal-products__description-comment">
        <textarea
          name="user_comment_product"
          class="modal-products__comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="button modal-products__btn">Submit</button>
    </form>
  </div>
</div>
