.backdrop-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 100000000;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .about-modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  width: 280px;

  border: 2px solid var(--yello-color);
  border-radius: 10px;
  border-radius: 4px;
  background-color: var(--main-white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
  }
}

.about-modal__icon {
  fill: var(--main-black-color);
  width: 16px;
  height: 16px;
  transition: fill 250ms linear, transform 250ms linear;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
    fill: var(--yello-color);
  }
}

.about-modal__button {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  background-color: var(--main-white-color);
  border: none;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.about-modal__title {
  margin-bottom: 20px;
  font-family: var(--Seymour);
  font-size: 16px;
  line-height: 1.50;
  text-align: center;

  color: var(--main-black-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.about-modal__video {
  margin-bottom: 20px;
  width: 224px;
  height: 199;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.about-modal__text {
  font-family: var(--montserrat);
  font-size: 14px;
  line-height: 1.40;

  color: var(--main-black-color);
}