.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity var(--duration-cubic), visibility var(--duration-cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 280px;
  height: 100%;
  background: var(--main-white-color);
  border: 2px solid var(--yello-color);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 28px 28px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--duration-cubic);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  }

  @media screen and (max-width: 767px) {
    overflow: auto;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
    padding: 32px 0px;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;

  &:hover,
  &:focus {
    transform: scale(1.2);
    fill: var(--yello-color);
  }

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    right: 25px;
    top: 25px;
  }
}

.modal__form-title {
  font-family: var(--Seymour);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-black-color);
  text-align: center;
  margin-bottom: 75px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 80px;
  }
}

.modal__choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 80px;
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    gap: 32px;
  }
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 132px;
  height: 136px;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-black-color);
  box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
}

.modal__item {
  position: relative;
}

.gradient {
  position: absolute;
  top: -40%;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 132px;
  height: 132px;

  &-cream {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &-coffe {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &-milk {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.img {
  position: absolute;
  top: -45%;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 132px;
  height: 131px;

  &-cream {
    background-image: url('../images/hero-modal/ice-cream@1x.png');
  }

  &-coffe {
    background-image: url('../images/hero-modal/ice-coffee@1x.png');

  }

  &-milk {
    background-image: url('../images/hero-modal/milk-shake@1x.png');
  }

  background-repeat: no-repeat;
  background-size: cover;

  /*   @media screen and (min-width: 768px) {
    &-cream {
      background-image: url('/src/images/modal-buy-now/kelsey-curtis-1x.png');

      @include retina {
        background-image: url('/src/images/modal-buy-now/kelsey-curtis-2x.png');
      }
    }

    &-coffe {
      background-image: url('/src/images/modal-buy-now/pariwat-pannium-1x.png');

      @include retina {
        background-image: url('/src/images/modal-buy-now/pariwat-pannium-2x.png');
      }
    }

    &-milk {
      background-image: url('/src/images/modal-buy-now/victor-rutka-1x.png');

      @include retina {
        background-image: url('/src/images/modal-buy-now/victor-rutka-2x.png');
      }
    }
  } */
}

.text-cream {
  border: 2px solid var(--ice-cream-color);
}

.text-coffe {
  border: 2px solid var(--ice-coffee-color);
}

.text-milk {
  border: 2px solid var(--milkshakes-color);
}

.checkbox:checked+.text-cream {
  background-color: var(--ice-cream-color);
}

.checkbox:checked+.text-coffe {
  background-color: var(--ice-coffee-color);
}

.checkbox:checked+.text-milk {
  background-color: var(--milkshakes-color);
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__form-input {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 12px;

  color: var(--main-black-color);

  @media screen and (min-width: 480px) {
    width: 224px;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    margin-bottom: 16px;
  }
}

.modal__form-message {
  width: 100%;
  height: 65px;
  resize: none;
  padding: 8px 12px;
  margin-bottom: 24px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;

  color: var(--main-black-color);

  @media screen and (min-width: 480px) {
    width: 224px;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    padding: 11px 16px;
    margin-bottom: 32px;
  }
}

.modal__form-submit {
  display: block;
  margin: 0 auto;
  min-width: 114px;
  height: 42px;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  background: var(--btn-default-color);
  border-radius: 10px;
  border: transparent;
  text-align: center;
  color: var(--main-black-color);
  transition: background-color var(--duration-cubic);

  @media screen and (min-width: 768px) {
    width: 141px;
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover,
  &:focus {
    background-color: var(--btn-hover-focus-color);
  }
}