<section class="advantages">


  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="advantages__list list">

      <li class="advantages__item">
        <div class="wrapper-svg">
          <svg class="advantages__img" width="36" height="36">
            <use href="./images/svg-sprite.svg#icon-cow"></use>
          </svg>
        </div>

        <p class="advantages__header">
          721
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>


      <li class="advantages__item">
        <div class="wrapper-svg"><svg class="advantages__img" width="36" height="36">
            <use href="./images/svg-sprite.svg#icon-weight"></use>
          </svg></div>
        <p class="advantages__header">
          16kg
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="wrapper-svg"><svg class="advantages__img" width="36" height="36">
            <use href="/src/images/svg-sprite.svg#icon-ice-crema"></use>
          </svg></div>
        <p class="advantages__header">
          84
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>