<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">

      <li class="advantages__item">
        <p class="advantages__header cow animate__animated animate__infinite animate__slow animate__tada infinite">
          721
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p class="advantages__header weight animate__animated animate__infinite animate__slow animate__tada infinite">
          16kg
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p
          class="advantages__header ice-cream animate__animated animate__infinite animate__slow animate__tada infinite">
          84
        </p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

    </ul>
  </div>
</section>