<section class="contacts__section" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__wrapper">
      <ul class="contacts__list list">
        <li class="contacts__item">
          <p class="contacts__type">Cafe</p>
          <address class="contacts__address">
            <p class="contacts__name">Chicago</p>
            <a
              class="contacts__location link"
              href="https://goo.gl/maps/JSC9zKzw8aiDpC8R6"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
          <ul class="contacts__shedule list">
            <li class="contacts__day">Monday - Friday</li>
            <li class="contacts__time worktime">06:00 AM - 10:00 PM</li>
            <li class="contacts__day">Saturday - Sunday</li>
            <li class="contacts__time">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts__details list">
            <li>
              <a class="contacts__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__type">Food truck</p>
          <address class="contacts__address">
            <p class="contacts__name">Los Angeles</p>
            <a
              class="contacts__location link"
              href="https://goo.gl/maps/jJXPFe4xAfX9JKTf7"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
          <ul class="contacts__shedule list">
            <li class="contacts__day">Monday - Friday</li>
            <li class="contacts__time worktime">06:00 AM - 10:00 PM</li>
            <li class="contacts__day">Saturday - Sunday</li>
            <li class="contacts__time">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts__details list">
            <li>
              <a class="contacts__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__type">Cafe</p>
          <address class="contacts__address">
            <p class="contacts__name">New York</p>
            <a
              class="contacts__location link"
              href="https://goo.gl/maps/W7uehTBq5Y1KdYcs5"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
          <ul class="contacts__shedule list">
            <li class="contacts__day">Monday - Friday</li>
            <li class="contacts__time worktime">06:00 AM - 10:00 PM</li>
            <li class="contacts__day">Saturday - Sunday</li>
            <li class="contacts__time">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts__details list">
            <li>
              <a class="contacts__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contacts__mail link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contacts__buttons">
      <button type="button" class="button button--location">
        <span class="button__text">Our Locations</span
        ><svg width="12" height="12" class="button__icon">
          <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
        </svg>
      </button>
      <button type="button" class="button button--franchise" data-modal-franchise-open>
        <span class="button__text">Franchise</span
        ><svg width="12" height="12" class="button__icon">
          <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
