<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <picture>
      <source
        srcset="
          images/gallery/icecream-desktop.webp    1x,
          images/gallery/icecream-desktop@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          images/gallery/icecream-desktop.jpg    1x,
          images/gallery/icecream-desktop@2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          images/gallery/icecream-tablet.webp    1x,
          images/gallery/icecream-tablet@2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          images/gallery/icecream-tablet.jpg    1x,
          images/gallery/icecream-tablet@2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          images/gallery/icecream.webp    1x,
          images/gallery/icecream@2x.webp 2x
        "
        media="(max-width:767px)"
        type="image/webp"
      />
      <source
        srcset="
          images/gallery/icecream.jpg    1x,
          images/gallery/icecream@2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="gallery-img"
        src="images/gallery/icecream.jpg"
        alt="ice-cream"
      />
    </picture>
  </div>
</section>
