<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <div class="slick">
      <ul class="gallery__list">
        <li>
          <picture>
            <source
              srcset="
                images/gallery/icecream-desktop.webp    1x,
                images/gallery/icecream-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/icecream-desktop.jpg    1x,
                images/gallery/icecream-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/icecream-tablet.webp    1x,
                images/gallery/icecream-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/icecream-tablet.jpg    1x,
                images/gallery/icecream-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/gallery/icecream.webp    1x,
                images/gallery/icecream@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/icecream.jpg    1x,
                images/gallery/icecream@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery-img"
              src="images/gallery/icecream.jpg"
              alt="ice-cream"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                images/gallery/2-desktop.webp    1x,
                images/gallery/2-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/2-desktop.jpg    1x,
                images/gallery/2-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/2-tablet.webp    1x,
                images/gallery/2-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/2-tablet.jpg    1x,
                images/gallery/2-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/gallery/2-mobile.webp    1x,
                images/gallery/2-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/2-mobile.jpg    1x,
                images/gallery/2-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery-img"
              src="images/gallery/2-mobile.jpg"
              alt="ice-cream"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                images/gallery/3-desktop.webp    1x,
                images/gallery/3-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/3-desktop.jpg    1x,
                images/gallery/3-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/3-tablet.webp    1x,
                images/gallery/3-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/3-tablet.jpg    1x,
                images/gallery/3-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/gallery/3-mobile.webp    1x,
                images/gallery/3-mobile@2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                images/gallery/3-mobile.jpg    1x,
                images/gallery/3-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery-img"
              src="images/gallery/3-mobile.jpg"
              alt="ice-cream"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
