<header class="header">
  <div class="header__container container">
    <nav class="header__navigation">
      <a class="header__logo link" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/logo/webp/logo-desktop.webp    1x,
              ./images/logo/webp/logo-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-desktop.png    1x,
              ./images/logo/logo-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/logo/webp/logo-tablet.webp    1x,
              ./images/logo/webp/logo-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-tablet.png    1x,
              ./images/logo/logo-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/logo/webp/logo-mobile.webp    1x,
              ./images/logo/webp/logo-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-mobile.png    1x,
              ./images/logo/logo-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/logo/logo-mobile.png"
            alt="Product Designer portrait"
          />
        </picture>
      </a>
      <ul class="header__menu-list list">
        <li class="header__menu-item">
          <a class="header__menu-link link" href="#hero">Home</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="#about">How it’s made?</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="#products">Our products</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="open-mobile-menu-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon">
        <use href="./images/svg-sprite.svg#icon-burger-menu-icon"></use>
      </svg>
    </button>

    <button
      type="button"
      class="button header__open-modal-buy-btn button--buyп"
    >
      <span class="button__text">Buy now</span
      ><svg width="12" height="16" class="button__icon">
        <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
      </svg>
    </button>
  </div>

  <!-- mobile menu -->

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container mobile-menu__container">
      <button type="button" class="mobile-menu__close-btn js-close-menu">
        <svg class="icon-cros">
          <use href="./images/svg-sprite.svg#icon-close-icon"></use>
        </svg>
      </button>
      <a class="mobile-menu__logo link" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/logo/webp/logo-desktop.webp    1x,
              ./images/logo/webp/logo-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-desktop.png    1x,
              ./images/logo/logo-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/logo/webp/logo-tablet.webp    1x,
              ./images/logo/webp/logo-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-tablet.png    1x,
              ./images/logo/logo-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/logo/webp/logo-mobile.webp    1x,
              ./images/logo/webp/logo-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-mobile.png    1x,
              ./images/logo/logo-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/logo/logo-mobile.png"
            alt="Product Designer portrait"
          />
        </picture>
      </a>
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__list-item">
          <a
            class="mobile-menu__list-link links js-close-menu"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links js-close-menu" href="#about"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links js-close-menu" href="#products"
            >Our products</a
          >
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links js-close-menu" href="#contact"
            >Contact</a
          >
        </li>
      </ul>
      <button
        type="button"
        class="button mobile-menu__open-modal-buy-btn button--buy"
      >
        <span class="button__text">Buy now</span
        ><svg width="12" height="16" class="button__icon">
          <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="wrapper-up">
    <div class="container container-buton-up">
      <a href="#hero" class="button-up">
        <svg width="24" height="24" class="icon-up">
          <use href="./images/svg-sprite.svg#icon-go-up"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
