<header class="header">
  <div class="header__container container">
    <nav class="header__navigation">
      <a class="header__logo link" href="./index.html"
        ><img class="logo" src="./images/logo_desktop.png" alt="logo image"
      /></a>
      <ul class="header__menu-list list">
        <li class="header__menu-item">
          <a class="header__menu-link link" href="./">Home</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="./">How it’s made?</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="./">Our products</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link link" href="./">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="open-mobile-menu-btn" data-menu-open>
      <svg class="burger-icon">
        <use href="./images/svg-sprite.svg#icon-burger-menu-icon"></use>
      </svg>
    </button>

    <button type="button" class="header__open-modal-buy-btn open-modal-buy-btn">
      Buy now
      <svg class="arrow-icon">
        <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
      </svg>
    </button>
  </div>

  <!-- mobile menu -->

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="icon-cros">
          <use href="./images/svg-sprite.svg#icon-close-icon"></use>
        </svg>
      </button>
      <a class="mobile-menu__logo link" href="./index.html"
        ><img src="./images/logo_desktop.png" alt="logo image"
      /></a>
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links" href="./">Home</a>
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links" href="./">How it’s made?</a>
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links" href="./">Our products</a>
        </li>
        <li class="mobile-menu__list-item">
          <a class="mobile-menu__list-link links" href="./">Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="open-modal-buy-btn mobile-menu__open-modal-buy-btn"
      >
        Buy now
        <svg class="arrow-icon">
          <use href="./images/svg-sprite.svg#icon-ahead-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
