<section class="hero" id="hero">
  <div class="container">
    <div class="wrapper-content-title-shop">
      <div class="wrapper-flex-box">
        <h1
          class="hero__title animate__animated animate__rubberBand animate__delay-2s"
        >
          ice cream made with <span class="hero__title--big">passion</span>
        </h1>
        <ul class="hero__list-anchor">
          <li class="hero__item-anchor">
            <a
              class="hero__anchor-products button button--products"
              href="#products"
              >Products</a
            >
          </li>
          <li class="hero__item-anchor">
            <a class="hero__anchor-about" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>

      <ul class="hero__list-shop">
        <li class="hero__item-shop">
          <p class="hero__desc-shop">
            <span class="hero__numb">16</span>
            cafes
          </p>
        </li>
        <li class="hero__item-shop">
          <p class="hero__desc-shop">
            <span class="hero__numb">23</span>
            food trucks
          </p>
        </li>
      </ul>
    </div>
    <div class="wrapper-content-img-ahchor">
      <!-- підключення картинки-тарілка з морозивом в 3-х варіантів + webp(на моб версії буде display none) -->
      <picture class="hero__img-plate">
        <source
          srcset="
            ./images/desktop-hero/plate-ice.webp    1x,
            ./images/desktop-hero/plate-ice@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/desktop-hero/plate-ice.png    1x,
            ./images/desktop-hero/plate-ice@2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet-hero/plate-ice.webp    1x,
            ./images/tablet-hero/plate-ice@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/tablet-hero/plate-ice.png    1x,
            ./images/tablet-hero/plate-ice@2x.png 2x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <img
          class="hero__plate--animation"
          loading="lazy"
          src="./images/tablet-hero/plate-ice.png"
          alt="a lot of ice cream on a plate"
        />
      </picture>
      <div class="wrapper-content-desc">
        <p class="hero__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="hero__link-arrow" href="">
          <svg class="hero__icon-arrow" width="40" height="16">
            <use href="/src/images/svg-sprite.svg#icon-arrow-default"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- підключення картинки-точки в 3-х варіантів + webp -->

    <!-- <picture class="hero__img-point">
      <source
        srcset="
          ./images/desktop-hero/point-hero.webp    1x,
          ./images/desktop-hero/point-hero@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/desktop-hero/point-hero.png    1x,
          ./images/desktop-hero/point-hero@2x.png 2x
        "
        type="image/png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-hero/point-hero.webp    1x,
          ./images/tablet-hero/point-hero@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/tablet-hero/point-hero.png    1x,
          ./images/tablet-hero/point-hero@2x.png 2x
        "
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-hero/hero-point.webp    1x,
          ./images/mobile-hero/hero-point@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./images/mobile-hero/hero-point.png    1x,
          ./images/mobile-hero/hero-point@2x.png 2x
        "
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        loading="lazy"
        src="./images/mobile-hero/hero-point.png"
        alt="many yellow dots"
      />
    </picture> -->

    <!-- підключення картинки-велике морозиво + webp -->
    <picture class="hero__img-ice">
      <source
        srcset="
          ./images/desktop-hero/ice-hero.webp    1x,
          ./images/desktop-hero/ice-hero@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/desktop-hero/ice-hero.png    1x,
          ./images/desktop-hero/ice-hero@2x.png 2x
        "
        type="image/png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-hero/ice-hero.webp    1x,
          ./images/tablet-hero/ice-hero@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/tablet-hero/ice-hero.png    1x,
          ./images/tablet-hero/ice-hero@2x.png 2x
        "
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-hero/hero-ice.webp    1x,
          ./images/mobile-hero/hero-ice@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./images/mobile-hero/hero-ice.png    1x,
          ./images/mobile-hero/hero-ice@2x.png 2x
        "
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        loading="lazy"
        src="./images/mobile-hero/hero-ice.png"
        alt="big ice cream cone"
      />
    </picture>
  </div>
</section>
