<section class="section-products" id="products">
  <div class="container">
    <p class="section__suptitle">100% natural</p>
    <h2 class="section__title">Product</h2>
    <ul class="list grid">
      <li class="grid__item">
        <article class="product product--icecream">
          <div class="product__container">
            <h3 class="product__name">ice cream</h3>
            <p class="product__description">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <button class="arrow-button" type="button" data-modal-products-open>
            <svg
              class="arrow animate__animated animate__heartBeat animate__delay-5s animate__infinite"
              width="40"
              height="15"
            >
              <use href="./images/svg-sprite.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="grid__item">
        <article class="product product--ice-coffee">
          <div class="product__container">
            <h3 class="product__name">ice coffee</h3>
            <p class="product__description">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <button class="arrow-button" type="button" data-modal-products-open>
            <svg
              class="arrow animate__animated animate__heartBeat animate__delay-5s animate__infinite"
              width="40"
              height="15"
            >
              <use href="./images/svg-sprite.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="grid__item">
        <article class="product product--milkshakes">
          <div class="product__container">
            <h3 class="product__name">milkshakes</h3>
            <p class="product__description">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <button class="arrow-button" type="button" data-modal-products-open>
            <svg
              class="arrow animate__animated animate__heartBeat animate__delay-5s animate__infinite"
              width="40"
              height="15"
            >
              <use href="./images/svg-sprite.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
