<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">rev</h2>
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviewers/rev-1@1x.webp 1x,
              ./images/reviewers/rev-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviewers/rev-1@1x.jpg 1x,
              ./images/reviewers/rev-1@2x.jpg 2x
            "
          />
          <img
            src="./images/reviewers/rev-1@1x.jpg"
            alt="Дизайнерські рішення"
            class="customer-reviews__img"
          />
        </picture>
        <div class="customer-reviews__box-review">
          <p class="customer-reviews__review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </li>

      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviewers/rev-1@1x.webp 1x,
              ./images/reviewers/rev-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviewers/rev-1@1x.jpg 1x,
              ./images/reviewers/rev-1@2x.jpg 2x
            "
          />
          <img
            src="./images/reviewers/rev-1@1x.jpg"
            alt="Дизайнерські рішення"
            class="customer-reviews__img"
          />
        </picture>
        <div class="customer-reviews__box-review">
          <p class="customer-reviews__review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </li>

      <li class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/reviewers/rev-1@1x.webp 1x,
              ./images/reviewers/rev-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviewers/rev-1@1x.jpg 1x,
              ./images/reviewers/rev-1@2x.jpg 2x
            "
          />
          <img
            src="./images/reviewers/rev-1@1x.jpg"
            alt="Дизайнерські рішення"
            class="customer-reviews__img"
          />
        </picture>
        <div class="customer-reviews__box-review">
          <p class="customer-reviews__review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
