.advantages {
  margin-top: -1px;
  background: var(--olive-color);
  padding-top: 108px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-top: -2px;
    padding-top: 130px;
    padding-bottom: 204px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 150px;
    padding-bottom: 180px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 94px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
  }
}

.wrapper-svg {
  background-color: var(--yello-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages__text {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: var(--main-white-color);

  @media screen and (min-width: 767px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
}

.advantages__header {
  position: relative;
  margin-bottom: 18px;
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-white-color);


  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 59px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 71px;
  }
}

.advantages__header::before {
  content: "";
  position: absolute;
  top: -66px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;
  display: inline-block;

  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-color: var(--yello-color);
  background-repeat: no-repeat;

  @media screen and (min-width:768px) {
    top: -82px;
  }

  @media screen and (min-width:1200px) {
    top: -90px;
  }

}

.cow::before {
  background-image: url('../images/advantages/cow-icon.png');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .cow::before {
    background-image: url('../images/advantages/cow-icon@2x.png');
    background-size: 75% auto;
  }
}

.weight::before {
  background-image: url('../images/advantages/weight-icon.png');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .weight::before {
    background-image: url('../images/advantages/weight-icon@2x.png');
    background-size: 75% auto;
  }
}

.ice-cream::before {
  background-image: url('../images/advantages/ice-cream-icon.png');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .ice-cream::before {
    background-image: url('../images/advantages/ice-cream-icon@2x.png');
    background-size: 75% auto;
  }
}


.advantages__item {
  @media screen and (min-width: 767px) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: 320px;
  }
}