.advantages {
  background: var(--olive-color);
  padding-top: 42px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 53px;
    padding-bottom: 204px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 180px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}

.wrapper-svg {
  background-color: var(--yello-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages__text {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: var(--main-white-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
}

.advantages__header {
  margin-bottom: 18px;
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-white-color);


  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 59px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 71px;
  }
}


.advantages__item {
  @media screen and (min-width: 767px) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: 320px;

  }
}