// Кнопка основні стилі -->

.button {
  display: inline-flex;
  align-items: center;
  height: 42px;
  padding: 0px 34px;
  border: 2px solid var(--btn-default-color);
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  color: var(--main-black-color);
  background: var(--btn-default-color);
  transition: color var(--duration-cubic), background var(--duration-cubic),
    border var(--duration-cubic);

  &:hover,
  &:focus {
    background: var(--btn-hover-focus-color);
    border: 2px solid var(--btn-hover-focus-color);
  }
  &:focus {
    color: var(--main-white-color);
  }
  &:disabled {
    background: var(--btn-disabled-color);
    border: 2px solid var(--btn-disabled-color);
  }
}

.button__text {
  margin-right: 5px;
}

.button__icon {
  fill: currentColor;
}

// Модифікатори кнопок -->

.button--products,
.button--how {
  padding: 7px 10px;
  height: 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  @media screen and (min-width: 1200px) {
    height: 42px;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 14px;
  }
}

.button--products {
  background: transparent;
  &:hover,
  &:focus,
  &:disabled {
    background: transparent;
  }
}

.button--how {
  color: var(--btn-default-color);
  text-decoration: underline;
  background: transparent;
  border: 2px solid transparent;
  transition: color var(--duration-cubic);
  &:hover,
  &:focus {
    color: var(--btn-hover-focus-color);
    background: transparent;
    border: 2px solid transparent;
  }
  &:focus {
    color: var(--main-white-color);
    background: transparent;
    border: 2px solid transparent;
  }
  &:disabled {
    color: var(--btn-disabled-color);
    background: transparent;
    border: 2px solid transparent;
  }
}

.button--franchise {
  padding: 12px 46px;
  background: transparent;
  &:hover,
  &:focus,
  &:disabled {
    background: transparent;
  }
}
