.footer {
  padding-top: 39px;
  padding-bottom: 62px;
  background-color: var(--olive-color);

  @media screen and (min-width:768px) {
    padding-top: 40px;
    padding-bottom: 13px;
  }

  @media screen and (min-width:1200px) {
    padding-top: 120px;
    padding-bottom: 11px;
  }

  &__contacts {
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
      display: inline-block;
      margin-left: 40px;
      margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
      margin-left: 305px;
    }
  }
}

.footer__social {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-bottom: 38px;

  @media screen and (min-width:768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width:768px) {
    margin-bottom: 40 px;
  }

  &-icon {
    width: 34px;
    height: 34px;
    fill: var(--olive-color);
    transition: transform 250ms linear;

    &:hover {
      fill: var(--main-white-color);
      transform: scale(0.9);
    }

    &:focus {
      fill: var(--main-white-color);
      transform: scale(1.1);
    }
  }
}

.footer__descr {
  text-align: left;

  color: var(--main-white-color);
  text-transform: uppercase;
  font-weight: 700;

  @media screen and (min-width:768px) {
    display: inline-block;
    width: 352px;
  }

  @media screen and (min-width:1200px) {
    padding-bottom: 11px;
    width: fit-content;
  }

  &-small {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    @media screen and (min-width:768px) {
      margin-bottom: 9px;
      font-size: 26px;
      line-height: 1.23;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width:1200px) {
      margin-bottom: 14px;
      font-weight: 400;
      font-size: 30px;
    }
  }

  &-big {
    margin-bottom: 42px;
    font-size: 34px;
    line-height: 1.20;
    letter-spacing: 0.04em;

    @media screen and (min-width:768px) {
      margin-bottom: 32px;
      font-size: 48px;
      line-height: 1.22;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width:1200px) {
      margin-bottom: 54px;
      font-size: 58px;
      letter-spacing: 0.06em;
    }
  }
}

.footer__text {
  text-align: right;
  color: var(--main-black-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width:768px) {
    font-size: 14px;
  }

  @media screen and (min-width:1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__tel {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width:768px) {
    font-size: 14px;
  }

  @media screen and (min-width:768px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__copyrights {
  border-top: 1px solid var(--line-color);
  border-width: 109%;

  &-warn {
    padding-top: 16px;
    margin: 0 auto;
    width: 200px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: var(--all-rights-reserved-color);

    @media screen and (min-width:768px) {
      padding-top: 14px;
      width: fit-content;
    }
  }

}