.gallery {
  width: 100%;
  position: relative;
}

.slick {
  max-width: 100%;
  position: absolute;
  z-index: 99;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -24px);
  .slick-slider {
    margin: 0;
  }
  .slick-dotted {
    margin: 0;
  }
}
.gallery-img {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 7.40681px;
}
@media screen and(min-width: 1200px) {
  .slick {
    transform: translate(-50%, -98px);
  }
  .gallery-img {
    border-radius: 24px;
  }
}
@media screen and(min-width: 768px) and (max-width: 1199px) {
  .slick {
    transform: translate(-50%, -164px);
  }
  .gallery-img {
    border-radius: 18px;
  }
}
