.header {
  // background-color: var(--olive-color);
  position: absolute;
  z-index: 999;
  width: 100%;
  //   top: 0;
  //   left: auto;
}

// .logo {
//   z-index: 999;
// }

.header__menu-list {
  display: none;
}

.header__container {
  position: relative;
  padding-top: 12px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }

  // background-color: var(--olive-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    margin-left: auto;
    margin-right: 32px;
  }
}

.burger-icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--main-white-color);
  transition: fill var(--duration-cubic);
}

.open-mobile-menu-btn {
  display: block;
  background: transparent;
  border: none;
  padding: 0;

  &:hover .burger-icon,
  &:focus .burger-icon {
    fill: var(--yello-color);
  }
}

@media screen and (min-width: 1200px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .header__navigation {
    width: 100%;
    display: flex;
  }

  .header__menu-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 27px;
  }

  .header__menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--main-white-color);
    transition: color var(--duration-cubic);

    &:hover,
    &:focus {
      color: var(--yello-color);
    }
  }
}

// .arrow-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// width: 12px;
// height: 12px;
// }

// .open-modal-buy-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-self: center;
//   border: none;
//   background-color: var(--yello-color);
//   border-radius: 10px;
//   width: 152px;
//   height: 42px;
// }

.header__open-modal-buy-btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    // flex-wrap: nowrap;
    align-self: center;
    min-width: 155px;

    & .button__text {
      display: block;
      width: 100%;
    }
  }
}

// ================ mobile menu scss ===============

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--olive-color);
  transform: translateX(100%);
  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;
  //   overflow-y: scroll;
  transition: transform var(--duration-cubic);
  // transition: opacity var(--duration-cubic), visibility var(--duration-cubic);

  // @media screen and (min-width: 1200px) {
  //   display: none;
  // }
}

.mobile-menu.is-open {
  transform: translateX(0);
  // opacity: 1;
  // visibility: visible;
  // pointer-events: auto;
}

.mobile-menu__container {
  padding-top: 100px;
  position: relative;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
}

.icon-cros {
  width: 32px;
  height: 32px;
  transition: fill var(--duration-cubic);
}

.mobile-menu__close-btn {
  fill: var(--main-white-color);
  line-height: 0;
  position: absolute;
  top: 15px;
  right: 20px;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }

  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;

  &:hover .icon-cros,
  &:focus .icon-cros {
    fill: var(--main-black-color);
  }
}

.mobile-menu__logo {
  position: absolute;
  top: 12px;
  left: 20px;

  @media screen and (min-width: 768px) {
    top: 20px;
    left: 32px;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 111px;
  text-align: center;
}

.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__list-link {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: var(--main-white-color);
  transition: color var(--duration-cubic);

  &:hover,
  &:focus {
    color: var(--main-black-color);
  }
}

.mobile-menu__open-modal-buy-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-top: 140px;
  }

  .mobile-menu__list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu__list-link {
    font-size: 48px;
    line-height: calc(59 / 48);
  }

  .mobile-menu__open-modal-buy-btn {
    display: none;
  }
}