.section-products {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background-image: url('../images/products/mobile/ice-cream-background.png'),
    url('../images/products/mobile/ice-cream-background-coffee.png'),
    url('../images/products/mobile/ice-cream-background-milkshakes.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top, center, bottom;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/mobile/ice-cream-background@2x.png'),
      url('../images/products/mobile/ice-cream-background-coffee@2x.png'),
      url('../images/products/mobile/ice-cream-background-milkshakes@2x.png');
  }
}

.section__suptitle {
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.section__title {
  margin-bottom: 148px;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;

  text-transform: uppercase;

  color: var(--main-black-color);
}

.grid__item--ice-cream {
  margin-bottom: 164px;
}

.grid__item--ice-coffee {
  margin-bottom: 172px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  padding-top: 123px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  border-radius: 24px;
}

.product::before,
.product::after {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.product::after {
  top: -111px;
  left: 50%;
  transform: translateX(-50%);
}

.product--ice-cream {
  background-color: var(--ice-cream-color);
  &::before {
    background-image: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    );
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }
  &::after {
    background-image: url('../images/products/mobile/ice-cream.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/ice-cream@2x.jpg');
    }
  }
}

.product--ice-coffee {
  background-color: var(--ice-coffee-color);

  &::before {
    background-image: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    );
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  }
  &::after {
    background-image: url('../images/products/mobile/ice-coffee.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/ice-coffee@2x.jpg');
    }
  }
}

.product--milkshakes {
  background-color: var(--milkshakes-color);

  &::before {
    background-image: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    );
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  }
  &::after {
    background-image: url('../images/products/mobile/milkshakes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/milkshakes@2x.jpg');
    }
  }
}

.product__name {
  margin-bottom: 40px;

  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--main-black-color);
}

.product__description {
  font-size: 14px;
  line-height: 1.76;

  color: var(--main-black-color);
}

.read-more-button {
  width: 40px;
  height: 15px;
  padding: 0;

  border: none;
  background-color: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scaleX(1.25);
  }
  &:focus {
    transform: scale(1.4);
  }
}
